/*  page common css start */

@charset "UTF-8";


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 100%;
    box-sizing: inherit;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
    transition: all 0.5s;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    width: 100%;
    font-size: 16px;
    color: #111111;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    transition: all 0.5s;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    box-shadow: none;
}

button:active {
    border: none;
    outline: none;
    box-shadow: none;
}

button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

p {
    padding: 0;
    margin: 0;
    color: #797979;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    text-transform: capitalize;
}



button {
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    background: none;
    box-shadow: none;
    transition: all 0.5s;
}

a {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    transition: all 0.5s;
}

a {
    text-decoration: none;
    transition: all 0.5s ease;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
    font-size: 16px;
    padding: 0;
    transition: all 0.5s;
    text-transform: capitalize;
    font-weight: 500;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* --------------------- font family start ---------------- */

/* ---  Alex Brush family ----- */
/* vietnamese */
@font-face {
    font-family: 'Alex Brush';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alexbrush/v22/SZc83FzrJKuqFbwMKk6EhUrz7QtO.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Alex Brush';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alexbrush/v22/SZc83FzrJKuqFbwMKk6EhUvz7QtO.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Alex Brush';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alexbrush/v22/SZc83FzrJKuqFbwMKk6EhUXz7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* --- Alice family --- */

/* cyrillic-ext */
@font-face {
    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alice/v20/OpNCnoEEmtHa6GcDrg7shw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alice/v20/OpNCnoEEmtHa6GcKrg7shw.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alice/v20/OpNCnoEEmtHa6GcArg7shw.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alice/v20/OpNCnoEEmtHa6GcOrg4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* --- Carattere family---  */

/* vietnamese */
@font-face {
    font-family: 'Carattere';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/carattere/v7/4iCv6Kp1b9dXlgt_Ckvjv2yNL4U.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Carattere';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/carattere/v7/4iCv6Kp1b9dXlgt_CkvjvmyNL4U.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Carattere';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/carattere/v7/4iCv6Kp1b9dXlgt_CkvjsGyN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* --- Petrona family  --- */

/* vietnamese */
@font-face {
    font-family: 'Petrona';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/petrona/v32/mtG44_NXL7bZo9XXgXdouEMV4CU.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Petrona';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/petrona/v32/mtG44_NXL7bZo9XXgXdouUMV4CU.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Petrona';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/petrona/v32/mtG44_NXL7bZo9XXgXdot0MV.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
    font-family: 'Petrona';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/petrona/v32/mtG64_NXL7bZo9XXgX1YtVsR.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Petrona';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/petrona/v32/mtG64_NXL7bZo9XXgXxYtVsR.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Petrona';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/petrona/v32/mtG64_NXL7bZo9XXgXJYtQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* =============== page css start ===================== */

/* Wedding_card_main_wrapper */

.Wedding_card_main_wrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url('../images/wedding_bg_img.png');
    background-size: cover;
    display: flex;
    gap: 30px;
    padding: 92px 220px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.Wedding_card_main_wrapper .wedding_inner_box {
    width: 100%;
    height: 100%;
    border: 8px solid #B0314F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 115px 0px;
}

.flower_vector_box1 {
    position: absolute;
    left: 0;
    top: 0;
}

.flower_vector_box2 {
    position: absolute;
    right: 25px;
    bottom: 10px;
}

.flower_vector_img_box1 {
    position: absolute;
    top: 0;
    display: none;
}

.flower_vector_img_box1 img {
    width: 350px;
}

.flower_vector_img_box2 {
    position: absolute;
    bottom: 0;
    display: none;
}

.flower_vector_img_box2 img {
    width: 350px;
}

.Wedding_card_main_wrapper .wedding_inner_box .top_title_box h1 {
    font-family: 'Alex Brush';
    font-weight: 400;
    font-size: 150px;
    line-height: 140px;
    letter-spacing: 0%;
    text-align: center;
    color: #B0314F;
}

.Wedding_card_main_wrapper .wedding_inner_box .middle_title {
    font-family: 'Petrona';
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    color: #111111;
}

.Wedding_card_main_wrapper .wedding_inner_box .name_title {
    font-family: 'Alice';
    font-weight: 400;
    font-size: 78px;
    line-height: 90px;
    letter-spacing: 0%;
    text-align: center;
    color: #B0314F;
}

.Wedding_card_main_wrapper .wedding_inner_box .date_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Wedding_card_main_wrapper .wedding_inner_box .date_box h3 {
    font-family: 'Alice';
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    color: #111111;
}

.Wedding_card_main_wrapper .wedding_inner_box .venue_txt {
    font-family: 'Carattere';
    font-weight: 400;
    font-size: 70px;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    color: #111111;
    margin-top: 20px;
}

/*  floating css start  */


.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, -0px);
    }
}

/*  resposnive css start */


@media (max-width:1599px) {
    .Wedding_card_main_wrapper {
        padding: 80px 90px;
    }

    .flower_vector_box1 img {
        width: 425px;
    }

    .flower_vector_box2 img {
        width: 425px;
    }
}

@media (max-width:1399px) {

    .Wedding_card_main_wrapper .wedding_inner_box .top_title_box h1 {
        font-size: 110px;
        line-height: 110px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .middle_title {
        font-size: 35px;
        line-height: 45px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .name_title {
        font-size: 65px;
        line-height: 70px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .date_box h3 {
        font-size: 60px;
        line-height: 60px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .venue_txt {
        font-size: 60px;
    }
}

@media (max-width:1199px) {
    .flower_vector_box1 img {
        width: 400px;
    }

    .flower_vector_box2 img {
        width: 400px;
    }

    .Wedding_card_main_wrapper {
        padding: 55px 55px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .venue_txt {
        font-size: 50px;
        max-width: 550px;
    }
}


@media (max-width:991px) {
    .Wedding_card_main_wrapper .wedding_inner_box .top_title_box h1 {
        font-size: 90px;
        line-height: 75px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .name_title {
        font-size: 50px;
        line-height: 55px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .date_box h3 {
        font-size: 50px;
        line-height: 50px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .venue_txt {
        font-size: 40px;
        max-width: 460px;
    }

    .flower_vector_box1 img {
        width: 370px;
    }

    .flower_vector_box2 img {
        width: 370px;
    }

    .flower_vector_img_box2 {
        bottom: 90px;
    }

}

@media (max-width:767px) {
    .Wedding_card_main_wrapper {
        padding: 55px 30px;
    }

    .flower_vector_box1 img {
        width: 270px;
    }

    .flower_vector_box2 img {
        width: 270px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .top_title_box h1 {
        font-size: 70px;
        line-height: 40px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .middle_title {
        font-size: 25px;
        line-height: 25px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .name_title {
        font-size: 40px;
        line-height: 40px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .date_box {
        gap: 10px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .date_box h3 {
        font-size: 35px;
        line-height: 40px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .date_box .icon_box svg {
        width: 180px;
    }

}


@media (max-width:576px) {
    .Wedding_card_main_wrapper {
        padding: 55px 15px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box {
        border-width: 4px;
        gap: 30px;
    }

    .flower_vector_box1 {
        display: none;
    }

    .flower_vector_box2 {
        display: none;
    }

    .flower_vector_img_box1 {
        display: block;
        top: -15px;
    }

    .flower_vector_img_box2 {
        display: block;
        bottom: -15px;
    }

}

@media (max-width:425px) {

    .Wedding_card_main_wrapper .wedding_inner_box .top_title_box h1 {
        font-size: 52px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .middle_title {
        font-size: 21px;
        line-height: 25px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .name_title {
        font-size: 33px;
        line-height: 40px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .date_box h3 {
        font-size: 27px;
        line-height: 30px;
    }

    .Wedding_card_main_wrapper .wedding_inner_box .venue_txt {
        font-size: 30px;
        margin-top: 0px;
    }

    .flower_vector_img_box1 {
        top: 0px;
    }

    .flower_vector_img_box2 {
        bottom: 0px;
    }

}

@media (max-width:375px) {
    .Wedding_card_main_wrapper .wedding_inner_box {
        padding: 50px 0px;
    }

    .Wedding_card_main_wrapper {
        padding: 40px 5px;
    }

    .flower_vector_img_box1 img {
        width: 280px;
    }

    .flower_vector_img_box2 img {
        width: 280px;
    }

    .flower_vector_img_box1 {
        top: 85px;
    }

    .flower_vector_img_box2 {
        bottom: 85px;
    }
}